mixed-port: 7890
allow-lan: false
mode: Rule
ipv6: true
log-level: info
external-controller: 127.0.0.1:9090
dns:
  enable: true
  listen: 0.0.0.0:53
  default-nameserver:
    - 223.5.5.5
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  use-hosts: true
  nameserver-policy:
    +.pphimalayanrt.com: 223.5.5.5
    st.dl.eccdnx.com: 223.5.5.5
    +.tmall.com: 223.5.5.5
    +.taobao.com: 223.5.5.5
    +.alicdn.com: 223.5.5.5
    +.aliyun.com: 223.5.5.5
    +.alipay.com: 223.5.5.5
    +.alibaba.com: 223.5.5.5
    +.cocoduck.vip: 223.5.5.5
    +.qq.com: 119.29.29.29
    +.tencent.com: 119.29.29.29
    +.weixin.com: 119.29.29.29
    +.qpic.cn: 119.29.29.29
    +.jd.com: 119.29.29.29
    +.bilibili.com: 119.29.29.29
    +.hdslb.com: 119.29.29.29
    +.163.com: 119.29.29.29
    +.126.com: 119.29.29.29
    +.126.net: 119.29.29.29
    +.127.net: 119.29.29.29
    +.netease.com: 119.29.29.29
  nameserver:
    - https://223.5.5.5/dns-query
    - https://223.6.6.6/dns-query
    - https://120.53.53.53/dns-query
  fallback:
    - 1.1.1.1
    - 8.8.8.8
  proxy-server-nameserver:
    - https://doh.pub/dns-query
    - https://dns.alidns.com/dns-query
  fallback-filter:
    geoip: true
    ipcidr:
      - 240.0.0.0/4
      - 0.0.0.0/32
      - 223.75.236.241/32
      - 182.43.124.6/32
      - 106.74.25.198/32
      - 183.192.65.101/32
    domain:
      - +.cocoduck.vip
      - +.linkedin.com
      - +.omtrdc.net
      - +.licdn.com
      - +.bing.com
      - +.bing.net
      - +.bingapis.com
proxy-providers:
  cc:
    url: https://subaddress.com # 订阅地址
    interval: 3600

proxy-groups:
  - name: Select
    type: select
    include-all: true
    filter: '^(?!.*(我的|流量|官网|时间)).*'
  - name: Auto
    type: url-test
    url: http://www.google.com/generate_204
    interval: 30
    include-all: true
    filter: '美|港|日|新'
  - name: 美国
    type: url-test
    url: http://www.google.com/generate_204
    interval: 30
    include-all: true
    filter: '美'
  - name: 香港
    type: url-test
    url: http://www.google.com/generate_204
    interval: 30
    include-all: true
    filter: '香港|HK'
  - name: 新加坡
    type: url-test
    url: http://www.google.com/generate_204
    interval: 30
    include-all: true
    filter: '新'

rule-providers:
  proxy:
    behavior: classical
    format: yaml
    url: https://github.com/blackmatrix7/ios_rule_script/raw/refs/heads/master/rule/Clash/Proxy/Proxy_Classical.yaml
    interval: 86400
  china:
    behavior: classical
    format: yaml
    url: https://github.com/blackmatrix7/ios_rule_script/raw/refs/heads/master/rule/Clash/China/China_Classical.yaml
    interval: 86400

rules:
  - DOMAIN-KEYWORD,diabrowser,美国 # dia浏览器
  - DOMAIN-KEYWORD,micu.hk,DIRECT # micu
  - RULE-SET,proxy,Auto
  - RULE-SET,china,DIRECT
  - DOMAIN-SUFFIX,cn,DIRECT
  - DOMAIN-KEYWORD,-cn,DIRECT
  - GEOIP,CN,DIRECT
  - MATCH,Select
